<ion-header>
  <ion-navbar>
    <ion-title>
      登入
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
      <button ion-button full (click)="openApp()">IOS 開啟APPs</button>
    </div>
    <div padding>
      <button ion-button full (click)="AndroidOpenApp()">Android 開啟APPs</button>
    </div>
    <div padding>
      <button ion-button full (click)="openBrowser()">開啟頁面</button>
    </div>
    <ion-list>
        <ion-item>
          <ion-label stacked>帳號</ion-label>
          <ion-input type="text" [(ngModel)]="id"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>密碼</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      
      </ion-list>
      <div padding>
          <button ion-button full (click)="Login()">登入</button>
          {{deviceUserAgent}}
      </div>
      <div *ngIf="check_results" padding>
        <p>{{check_results.Msg}}</p>
        <p *ngIf="check_results.ID">ID:{{check_results.ID}}</p>
        <p *ngIf="check_results.Acno">Acno:{{check_results.Acno}}</p>
        <p *ngIf="check_results.Name">姓名:{{check_results.Name}}</p>
        <p *ngIf="check_results.Unit">Unit:{{check_results.Unit}}</p>
        <p *ngIf="check_results.CAStatus">憑證:{{check_results.CAStatus}}</p>
        <p *ngIf="ip_data">IP:{{ip_data}}</p>
        <p>狀態代碼:{{check_results.Status}}</p>
      </div>
      <div>
          <!--正式-->
          <!--https://goplus.capital.com.tw/CapitalCA/login.aspx-->
          <!--測試-->
          <!--https://dev-goplus.capital.com.tw/CapitalCA/login.aspx-->
          <form action="https://dev-goplus.capital.com.tw/CapitalCA/login.aspx" method="post" name="form1" id="form1">
            <input type="text" name="idno" id="idno" [(ngModel)]="CAForm.idno" />
            <input type="text" name="token" id="token" [(ngModel)]="CAForm.token"  />
            <input type="text" name="backurl" id="backurl" [(ngModel)]="CAForm.backurl"  />

            <div padding>
              <button ion-button full (click)="submitForm()">取得驗證</button>
            </div>
          </form>
      </div>
</ion-content>
